<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="cycloidal_arm">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0995287254686386 0.112614900968155 0.165727630703303"
        rpy="0 0 0" />
      <mass
        value="1.23271217077216" />
      <inertia
        ixx="0.00270033636426398"
        ixy="-2.34250647532765E-05"
        ixz="-1.79873916480944E-20"
        iyy="0.00580402794811563"
        iyz="-2.68885913702893E-20"
        izz="0.00354676945125994" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cycloidal_arm/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cycloidal_arm/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-5.55111512312578E-17 0.023979136889075 1.38777878078145E-17"
        rpy="0 0 0" />
      <mass
        value="0.304021757413869" />
      <inertia
        ixx="0.000468166937848066"
        ixy="4.97988304141739E-19"
        ixz="5.35565297768733E-20"
        iyy="0.000556511626781483"
        iyz="1.58837906082668E-19"
        izz="0.000530490621381881" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cycloidal_arm/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cycloidal_arm/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="fixed">
    <origin
      xyz="0.091346 -0.16573 0.12994"
      rpy="1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 0.0275 -0.0940282509799975"
        rpy="0 0 0" />
      <mass
        value="0.921178073824292" />
      <inertia
        ixx="0.00707290039580988"
        ixy="-8.72417052302028E-20"
        ixz="3.0404853988585E-18"
        iyy="0.00705226635903433"
        iyz="-3.76604575585197E-19"
        izz="0.000750266435981812" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cycloidal_arm/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cycloidal_arm/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="fixed">
    <origin
      xyz="0.0275 0.0645 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 0.0275 -0.0751026151496736"
        rpy="0 0 0" />
      <mass
        value="0.795565176777538" />
      <inertia
        ixx="0.00468147275059795"
        ixy="-3.24151402544213E-20"
        ixz="1.26124497373925E-18"
        iyy="0.00472159598206381"
        iyz="9.04203845573646E-19"
        izz="0.000529881024226116" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cycloidal_arm/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cycloidal_arm/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="fixed">
    <origin
      xyz="0 0 -0.23657"
      rpy="3.1416 -1.5708 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-5.55111512312578E-17 -0.0313143603403311 -2.77555756156289E-17"
        rpy="0 0 0" />
      <mass
        value="0.0836281478300614" />
      <inertia
        ixx="3.81677299210098E-05"
        ixy="3.35369550864097E-20"
        ixz="-6.09427406948108E-20"
        iyy="8.82577448155974E-05"
        iyz="1.1315030093216E-20"
        izz="0.000114832050075002" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cycloidal_arm/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cycloidal_arm/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="fixed">
    <origin
      xyz="0 0.0275 -0.20457"
      rpy="1.5708 0 3.1416" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-3.48755191392769E-09 0.0263626856354847 -3.36313449311731E-10"
        rpy="0 0 0" />
      <mass
        value="0.153616088922952" />
      <inertia
        ixx="8.89727018226689E-05"
        ixy="-3.24400365104346E-12"
        ixz="5.35072833569429E-11"
        iyy="9.1840894220433E-05"
        iyz="3.90324332717974E-11"
        izz="8.46496043128874E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cycloidal_arm/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cycloidal_arm/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="fixed">
    <origin
      xyz="0 -0.017 0"
      rpy="0 0 3.1416" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>